{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- ========== Meta Tags ========== -->
    <meta charset="UTF-8">
    <meta name="description" content="DASHBOARD - THARSIS UNI">
    <meta name="keywords" content="DASHBOARD , THARSIS, NASA, HERC, 2023, Universidad Nacional de Ingeniería, UNI">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/4.2.1/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <!-- ========== Title ========== -->
    <title> Dashboard Tharsis</title>
    <!-- ========== Favicon Ico ========== -->
    <link rel="icon" href="{% static 'images/icon-tharsis.ico' %}">
    <!-- ========== STYLESHEETS ========== -->
    <!-- CSS -->
    <link href="{% static 'css/main.css' %}" rel="stylesheet">

</head>

<body>

    <div class="v1_4">

        <span class="dashboard-text">Dashboard</span>
        <span class="streaming-link">Streaming</span>
        <span class="rover-link">Rover</span>

        <div class="box-medical"></div>
        <span class="medical-link">Medical</span>

        <div class="logo-tharsis"></div>

        <div class="box-datos-general"></div>

        <div class="box-graficas-ecg-ppg"></div>

        <div class="box-hrv"></div>

        <div class="box-bpm"></div>

        <div class="box-spo2"></div>            
        <div>
            <span class="electrocardiograma-text" >ELECTROCARDIOGRAM
    
        <canvas id="myChart1" class="myChart1"></canvas>
        </span>
        <span class="pletismografía-text" >PLETHYSMOGRAPHY
        
        <canvas id="myChart2" class="myChart2"></canvas>
        </span>
        </div>

        

        <span class="hrv-text">HEART RATE VARIABILITY</span>

        <span class="bpm-text">PULSE</span>

        <span class="spo2-text">SpO2</span>


        <div class="hrv-img"></div>

        <div class="bpm-img"></div>

        <div class="spo2-img"></div>

        <span id="PPG" class="hrv-variable">{{ text }}</span>

        <span id="BPM" class="bpm-variable">{{ text }}</span>

        <span id="oxigeno" class="spo2-variable">{{ text }}</span>

        <div class="dashboard-icono"></div>

        <div class="logo-uni"></div>
        
        <div class="streaming-icono"></div>

        <div class="dashboard-up-icono"></div>
        

    </div>
        <script src="{% static 'main.js' %}"></script>


</body>

</html>